nav{
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    background-color: rgb(117, 192, 206);
    box-shadow: 0 0 12px -2px black;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
}
h1{
    margin: 0px;
}
.active{
    border-bottom: 1px solid rgb(0, 0, 0);
}
div{
    margin: 5px;
    display: flex;
}
body{
    background-color: rgb(226, 226, 226);
    margin: 10px;
    display: flex;
}
a{
    text-decoration: none;
    padding: 5px;
}
.main{
    margin: 120px 5px 5px;
    display: grid;
    align-items: center;
    justify-items: center;
}

#links{
    justify-content: space-between;
    flex-grow: 1;
    justify-content: right;
}

@media (max-width: 461px){
    nav{
        justify-content: center;
    }
    #links{
        flex-grow: 1;
        justify-content: center;
        justify-content: space-between;
    }
}

/* About */

h2{
    margin-top: 105px;
    background-color: rgb(228, 134, 72);
    background-size: 100px;
}