nav{
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    background-color: rgb(117, 192, 206);
    box-shadow: 0 0 12px -2px black;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
}
h1{
    margin: 0px;
}
.active{
    border-bottom: 1px solid rgb(0, 0, 0);
}
div{
    margin: 5px;
    display: flex;
}
.headline{
    margin-top: 110px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}
body{
    background-color: rgb(240, 209, 173);
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 100px;
}
a{
    text-decoration: none;
    padding: 5px;
}
.main{
    display: flex;
    justify-content: center;
}
.me{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 20px;
}
#links{
    justify-content: space-between;
    flex-grow: 1;
    justify-content: right;
}

@media (max-width: 461px){
    nav{
        justify-content: center;
    }
    #links{
        flex-grow: 1;
        justify-content: center;
        justify-content: space-between;
    }
}



/* About */

.about{
    display: flex;
    flex-direction: column;
}

h2{
    margin-top: 105px;
}
.baseball{
    flex-wrap: wrap;
}
.videogames{
    display: flex;
    flex-wrap: wrap;
}
.coffee{
    display: flex;
    flex-wrap: wrap;
}
.vgimg{
    justify-content: right;
}
h3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.headers{
    display: flex;
    flex-wrap: wrap;
}

/* Portfolio */

.portfoliogridcontainer{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 120px;
}

/* Contact */

.form{
    margin-top: 150px;
}
.Message{
    height: 150px;
}
.formbody{
    display: flex;
    justify-content: center;
}

/* Footer */

footer{
    background-color: rgb(117, 192, 206);
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    padding: 15px;
    text-align: center;
    position: fixed;
    box-shadow: 0 0 10px -2px black;
}